---
title: Surf & Code Camp – ReactJS Coaches
description: Our React coaches teach you effectively. 4 days React JS and 1 day React Native workshop lay ahead - all by the beautiful portuguese seaside.
keywords: reactjs, workshop, camp, reactjs.de, cascais, portugal, lisbon, react, react native, react.js, javascript, course, lessons, surf camp, coder beach
---

<%= partial "../shared/small_header" %>

<!-- ********** TUTORS ********** -->
<section id="tutors"></section>
<div class="container ptb">

  <div class="row">
    <h2 class="centered mb">TUTORS & ORGANIZERS</h2>
    <!-- Speakers First Row -->
    <div class="col-md-2 centered">
      <img src="/assets/img/christoph.jpg" height="120" class="img-circle" alt="Christoph Jerolimov">
    </div>
    <div class="col-md-4">
      <h4>Christoph Jerolimov</h4>
      <h6><tg>REACT & REACT NATIVE EXPERT</tg></h6>
      <p>Christoph is a full-stack developer specialized in mobile development. He has far more than a decade of experience in coding and building sophisticated (web) apps.</p>
    </div>
    <div class="col-md-2 centered">
      <img src="/assets/img/jan-kus.jpg" height="120" class="img-circle" alt="Jan Kus">
    </div>
    <div class="col-md-4">
      <h4>Jan Kus</h4>
      <h6><tg>DEVELOPER & ORGANISER</tg></h6>
      <p>Jan Kus is a developer, co-founder of several projects and companies, among which are the software agency Railslove and hacker event agency hack.institute. His connections in the community are unparalleled.</p>
    </div>
    <!--/End Row of Speakers-->
  </div>
  <!--/row-->

  <div class="row mt">
    <!-- Speakers Second Row -->
    <div class="col-md-2 centered">
      <img src="/assets/img/ui-03.jpg" height="120" class="img-circle" alt="Fabian Köster">
    </div>
    <div class="col-md-4">
      <h4>Fabian Köster</h4>
      <h6><tg>REACT PRO</tg></h6>
      <p>Fabian is a freelance full-stack dev. React? He speaks it!</p>
    </div>
    <div class="col-md-2 centered">
      <img src="/assets/img/david.jpg" height="120" class="img-circle" alt="David">
    </div>
    <div class="col-md-4">
      <h4>David</h4>
      <h6><tg>SURF INSTRUCTOR</tg></h6>
      <p>David our surf instructor. Way to go, David!</p>
    </div>
    <!--/End Row of Speakers-->
  </div>
  <!--/row-->

  <div class="row mt">
    <!-- Speakers Second Row -->
    <div class="col-md-2 centered">
      <img src="/assets/img/joana.jpg" height="120" class="img-circle" alt="Joana Almeida">
    </div>
    <div class="col-md-4">
      <h4>Joana Almeida</h4>
      <h6><tg>SALES MANAGER @ NICE WAY HOSTEL CASCAIS</tg></h6>
      <p></p>
    </div>
    <div class="col-md-2 centered">
      <img src="/assets/img/miguel.jpg" height="120" class="img-circle" alt="Miguel Ricardo">
    </div>
    <div class="col-md-4">
      <h4>Miguel Ricardo</h4>
      <h6><tg>CO-FOUNDER @ NICE WAY HOSTEL CASCAIS</tg></h6>
      <p></p>
    </div>
    <!--/End Row of Speakers-->
  </div>
  <!--/row-->

</div><!--/container-->

<!-- ********** GREY SECTION - TOPICS ********** -->
<section id="hackinstitute"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered mb">ABOUT HACK.INSTITUTE</h2>
      <div class="col-md-6">
        <tgr><i class="icon icon-truck"></i></tgr>
        <h3 class="mb">Our expertise</h3>
        <p>At Hack.institute we are experienced experts in everything around hackathons and innovation camps. We take great pride in creating the best experiences for our clients, and with our dedication to greatness we always deliver on that promise! We offer a wide range of workshop formats and hackathons that can be customized to every thinkable setting and need – an office space, a boat, corporate events, universities, schools, a family party? Okay, maybe not a family party, but everything else. Underneath you can see some of out flagship events.</p>
      </div><!--/col-md-4-->
      <div class="col-md-6">
        <tgr><i class="icon icon-road"></i></tgr>
        <h3 class="mb">We are coders, designers, makers and thinkers</h3>
        <p>At the end: we're coders, hackers, makers and thinkers - and - we love the community around us - that's why we're helping out organizing the Surf & Code Camp!</p>
      </div><!--/col-md-4-->
    </div>
  </div><!--/container-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img class="hi-claim" src="/assets/img/hi-claim.jpg" alt="hack.institute - code design think make">
      </div><!--/col-md-4-->
    </div>
  </div><!--/container-->
</div><!--/G-->
