---
title: Tutors || Surf & Code Camp
---

<%= partial "../shared/small_header" %>

<!-- ********** TUTORS ********** -->
<section id="tutors"></section>
<div class="container ptb">
  
  <div class="row">
    <h2 class="centered">TUTORS & ORGANIZERS</h2>
    <hr class="aligncenter mb">
    <!-- Speakers First Row -->
    <div class="col-md-2 centered">
      <img src="/assets/img/christoph.jpg" height="120" class="img-circle" alt="">
    </div>
    <div class="col-md-4">
      <h4>Christoph Jerolimov</h4>
      <h6><tg>....</tg></h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="col-md-2 centered">
      <img src="/assets/img/jan-kus.jpg" height="120" class="img-circle" alt="">
    </div>
    <div class="col-md-4">
      <h4>Jan Kus</h4>
      <h6><tg>...</tg></h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <!--/End Row of Speakers-->
  </div>
  <!--/row-->

  <div class="row mt">
    <!-- Speakers Second Row -->
    <div class="col-md-2 centered">
      <img src="/assets/img/ui-03.jpg" height="120" class="img-circle" alt="">
    </div>
    <div class="col-md-4">
      <h4>Fabian Köster</h4>
      <h6><tg>...</tg></h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="col-md-2 centered">
      <img src="/assets/img/david.jpg" height="120" class="img-circle" alt="">
    </div>
    <div class="col-md-4">
      <h4>David</h4>
      <h6><tg>...</tg></h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>   
    <!--/End Row of Speakers--> 
  </div>
  <!--/row-->

  <div class="row mt">
    <!-- Speakers Second Row -->
    <div class="col-md-2 centered">
      <img src="/assets/img/ui-03.jpg" height="120" class="img-circle" alt="">
    </div>
    <div class="col-md-4">
      <h4>Joana Almeida</h4>
      <h6><tg>...</tg></h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="col-md-2 centered">
      <img src="/assets/img/miguel.jpg" height="120" class="img-circle" alt="">
    </div>
    <div class="col-md-4">
      <h4>Miguel Ricardo</h4>
      <h6><tg>...</tg></h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>    
    <!--/End Row of Speakers-->
  </div>
  <!--/row-->

</div><!--/container-->
