
<!-- ********** SPONSORS ********** -->
<div id="partner" class="partner">
<h2 class="centered">Partner</h2>      
  <div class="container">
    <div class="row sponsor big centered">
      <div class="col-md-12">
        <img src="/assets/img/hack-institute-logo-big.jpg" alt="hack.institute Logo" title="hack.institute">
      </div>
    </div>
    <div class="row sponsor centered">
      <div class="col-sm-6">
        <div class="logo" style="transform: rotateZ(0deg) scaleX(1) scaleY(1); opacity: 1;">
          <img class="atom-sign" src="/assets/img/atom-sign.png" alt="Atom sign" data-pin-nopin="true">
          <img class="typo" src="/assets/img/reactjs-de.png" alt="Reactjs de typo" data-pin-nopin="true">
        </div>
      </div>
      <div class="col-sm-4">
        <img src="/assets/img/railslove-white.png" alt="Railslove Logo">
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/G-->