
<!-- ********** SPONSORS ********** -->
<div id="partner">
<h2 class="centered">Partner</h2>      
  <div class="container">
    <div class="row sponsor big centered">
      <div class="col-md-12">
        <img src="assets/img/hack-institute-logo-big.jpg" alt="">
      </div>
    </div>
    <div class="row sponsor centered">
      <div class="col-sm-6">
        <img src="assets/img/react-js-de-logo.jpg" alt="">
      </div>
      <div class="col-sm-4">
        <img src="assets/img/railslove-logo-black.png" alt="">
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/G-->