---
title: Surf & Code Camp – Location
description: Stay at the Nice Way Hostel Cascais near Lisbon in Portugal. Best surf spots, great weather, cool people - and a superb coding workshop.
keywords: reactjs, workshop, camp, reactjs.de, cascais, portugal, lisbon, react, react native, react.js, javascript, course, lessons, surf camp, coder beach
---

<%= partial "../shared/small_header" %>

<!-- ********** the hostel ********** -->
<section id="hostel" class="hostel">
  <div class="container ptb">
    <div class="row">
      <h2 class="centered mb">ABOUT NICE WAY HOSTEL CASCAIS</h2>
        <p>Let the video speak for itself. This is your accomodation. For more info, please visit <a href="http://nicewayhostels.com/cascais/">http://nicewayhostels.com/cascais/</a></p>
        <iframe width="100%" height="700px" src="https://www.youtube.com/embed/AYfC_P5N7SQ" frameborder="0" allowfullscreen></iframe>
<!--       <div class="col-sm-12 section-bg-grey centered">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active first-pic">
              <div class="col-md-4">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quis ab saepe, aliquam debitis iusto sapiente repellendus. Iure maiores architecto temporibus saepe, facere asperiores, doloribus facilis assumenda dolores eveniet libero.</h3>
                <h5><tgr>Sebastian Deutsch</tgr></h5>
              </div>
            </div>
            <div class="item second">
              <div class="item active">
                <div class="col-md-4">
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quod facilis architecto laborum dolorem quisquam ad nemo officia. Labore asperiores tempore totam obcaecati, provident maiores accusantium illum maxime ullam minima?</h3>
                  <h5><tgr>Tim Schneider</tgr></h5>
                </div>
              </div>
            </div>
            <div class="item third">
              <div class="item active">
                <div class="col-md-4">
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatum dignissimos quia, laboriosam voluptas consequatur iste asperiores perferendis beatae, non quidem, totam facilis expedita aperiam iusto reiciendis facere minus! Nisi?</h3>
                  <h5><tgr>Postbank</tgr></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div><!--/row-->
  </div><!--/container-->
</section><!--/the hostel-->
