---
title: Registration || Surf & Code Camp
---

<%= partial "../shared/small_header" %>

<!-- ********** STAND OUT / CALL TO ACTION ********** -->
<section id="info">
  <div id="g">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb">REGISTRATION</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ********** PRICING ********** -->
<section id="purchase"></section>
<div class="container ptb">
  <div class="row">
    <hr class="aligncenter mb">
    <div class="col-md-12">
      <div class="row price-tag">
        <div class="col-sm-10 centered">
          <!-- <div style="width: 300px;" id="1430728092965"></div> -->
          <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.de/r/etckt">Online-Registrierung für Events</a><span style="color:#ddd;"> für </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.de/e/pen-paper-hackathon-tickets-16853009806?ref=etckt">Pen & Paper Hackathon</a> <span style="color:#ddd;">unterstützt von</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.de?ref=etckt">Eventbrite</a></div></div>
          <div style="width:100%; text-align:left;" ><iframe  src="http://eventbrite.de/tickets-external?eid=16853009806&ref=etckt" frameborder="0" height="350" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        </div>
      </div><!--/price-tag-->
    </div><!--/col-md-5-->
  </div><!--/row-->

  <section id="faq"></section>
  <h2 class="centered">FAQ</h2>      
  <div class="row mt">
    <div class="col-md-3">
      <h5><tgr>Wer kann alles mit machen?</tgr></h5>
      <p>Die Veranstaltung richtet sich an Designer, Entwickler und Architekten. Wenn du aber Ideen hast und gerne miterleben willst, wie Projekte zu Papier gepracht werden kannst du dich mit deinen Fähigkeiten einbringen.Die Teilnahme ist für alle Frauen und Männer offen.</p>
    </div>
    <div class="col-md-3">
      <h5><tgr>Muss ich mich dafür anmleden?</tgr></h5>
      <p>Um besser planen zu können hilft uns die Anmeldung sehr! Falls du aber bedenken hast, deine Zusage in schriftlicher Form zu übermitteln, kannst du uns auf der Veranstaltung auch gerne anfrage, ob noch Plätze frei sind. </p>
    </div>
    <div class="col-md-3">
      <h5><tgr>Was passiert wenn ich mich abmelden will?</tgr></h5>
      <p>Der Kartenanbieter bietet eine Möglichkeit das Ticket zu stornieren. Sonst schicke uns einfach eine Mail bei Problemen.</p>
    </div>
    <div class="col-md-3">
      <h5><tgr>Was muss ich mitbringen?</tgr></h5>
      <p>Grundsätzlich sind beim einem Pen & Paper Hackathon alle Materialien vor Ort. Natürlich darfst du auch selbst welche mitbringen. Es ist auch nicht verboten ein Laptop oder Pad mitzubringen um die Ideen zu Papier zu bringen.</p>
    </div>
  </div>
</div><!--/container-->