---
title: Surf & Code Camp – Register
description: Book your ticket for the Surf & Code Camp - React Edition. Participant count is limited. Register now!
keywords: reactjs, workshop, camp, reactjs.de, cascais, portugal, lisbon, react, react native, react.js, javascript, course, lessons, surf camp, coder beach
---

<%= partial "../shared/small_header" %>

<!-- ********** STAND OUT / CALL TO ACTION ********** -->
<section id="info">
  <div id="g">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb">REGISTRATION</h2>
          <H3>Book your ticket now. We only have 25 spaces available and a very limited for the <strong>early bird price of &euro;1599,99</strong>. You'll be notified before other and we'll send you an exclusive promotional code for the super early bird tickets.</H3>
          <section id="registration">

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup" class="purchase">
  <form action="//institute.us13.list-manage.com/subscribe/post?u=fe21bad4bdfcbbd4ae03a3f1c&amp;id=d344cfdb90" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_fe21bad4bdfcbbd4ae03a3f1c_d344cfdb90" tabindex="-1" value="">
      </div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
</div>

<!--End mc_embed_signup-->
            <h3>And this is what you get</h3>
            <ul class="what-you-get">
              <li>The Nice Way Hostel in Cascais booked <strong>EXCLUSIVELY</strong> for the Surf & Code Camp React Edition!</li>
              <li>Airport transfer.</li>
              <li>Spending <strong>7 days with hackers and thinkers</strong> of the <strong>same mindset</strong>.</li>
              <li><strong>5 days of React coaching</strong> with React-Experts + an introduction into React-Native.</li>
              <li>All Course materials</li>
              <li><strong>A surf course every morning for 5 days</strong>. Transfer to the beach with best waves and all material are included!</li>
              <li><strong>Accommodation for 7 days</strong> at the most charming hostel in Portugal.</li>
              <li><strong>Breakfast, Lunch and Dinner EVERYDAY</strong> and a <strong>BBQ</strong> with best Portuguese meat.</li>
              <li>A <strong>two-day hackathon</strong> where you can practice your React skills.</li>
              <li>An exclusive <strong>Surf & Code Camp Shirt</strong></li>
            </ul>
            <h3>GET 50% OFF!</h3>
            <p>Convince your boss to split the costs! Following voucher gives you a discount of 50%: <strong>REACTWORKSHOP</strong>. Just share the code with your boss and ask her/him to pay the second half. It's a win-win for both of you. You will receive the final attendee confirmation after sending us both 50% reduced ticket confirmation: <b>surfandcodecamp@hack.institute</b></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ********** PRICING ********** -->
<section id="purchase">
<div class="mt container">
  <div class="row">
    <div class="col-md-12">
      <div class="row price-tag">
        <div class="col-sm-12 centered">
        <div style="width:100%; text-align:left;">
          <div style="width:100%; text-align:left;" ><iframe  src="http://eventbrite.de/tickets-external?eid=32501061550&ref=etckt" frameborder="0" height="600" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        </div>
      </div><!--/price-tag-->
    </div><!--/col-md-5-->
  </div><!--/row-->
</div><!--/container-->
</section>

<section id="faq"></section>
  <div class="container">
  <h2 class="mt centered">FAQ</h2>
    <div class="row mt">
      <div class="col-md-4">
        <h5><tgr>Who is this for, exactly?</tgr></h5>
        <p>For beginners and pro's! If you are a developer and want to learn React, then this is for you. If you're a newbies, no worries - we will take care and bring you to the next programming level you need! Not sure if you are a newbie or trouper? Write us and we’ll sort it out!</p>
      </div>
      <div class="col-md-4">
        <h5><tgr>What’s included in the price?</tgr></h5>
        <p>The price includes accommodation (shuttle service from-to the airport included), food, water a nice drink in the evening, the coding workshop, the surfing lessons including all rental material, shuttle service and insurance.</p>
      </div>
      <div class="col-md-4">
        <h5><tgr>Are travel costs included?</tgr></h5>
        <p>No can do. But after your arrival we take care about everything - don't worry!</p>
      </div>
    </div>
    <div class="row mt">
      <div class="col-md-4">
        <h5><tgr>How can I help?</tgr></h5>
        <p>Spread the awesomeness! Just share the site, tell it to all your friends, colleguages and bosses. And we're sure: your CTO will understand it!</p>
      </div>
      <div class="col-md-4">
        <h5><tgr>Bummer! I booked but cannot come due to [unforeseen event]. What do?</tgr></h5>
        <p>You can cancel your ticket with a full refund until 15.04.2017. After that, please contact nadja@hack.institute explaining what’s up and if you can organize a substitute participant. We will also try to find another one taking over your spot. If this does not work, we’re afraid you will still have to pay for the services booked.</p>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</section>
