---
title: Surf & Code Camp – Register
description: Book your ticket for the Surf & Code Camp - React Edition. Participant count is limited. Register now!
keywords: reactjs, workshop, camp, reactjs.de, cascais, portugal, lisbon, react, react native, react.js, javascript, course, lessons, surf camp, coder beach
---

<%= partial "../shared/small_header" %>

<!-- ********** STAND OUT / CALL TO ACTION ********** -->
<section id="info">
  <div id="g">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb">REGISTRATION</h2>
          <p>Book your ticket now. We only have 25 spaces available.</p>
          <p><b>Low on dough? Help us find additional sponsors for the camp. If we can find other sponsors, we will pass back money directly to you via a partial refund! Awesome!</b></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ********** PRICING ********** -->
<section id="purchase"></section>
<div class="container ptb">
  <div class="row">
    <hr class="aligncenter mb">
    <div class="col-md-12">
      <div class="row price-tag">
        <div class="col-sm-12 centered">
        <div style="width:100%; text-align:left;">
          <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.de/r/etckt">Online-Registrierung für Events</a><span style="color:#ddd;"> für </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.de/e/surf-code-camp-react-edition-tickets-32501061550?ref=etckt">Surf & Code Camp React Edition</a> <span style="color:#ddd;">unterstützt von</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.de?ref=etckt">Eventbrite</a></div></div>
          <div style="width:100%; text-align:left;" ><iframe  src="http://eventbrite.de/tickets-external?eid=32501061550&ref=etckt" frameborder="0" height="350" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        </div>
      </div><!--/price-tag-->
    </div><!--/col-md-5-->
  </div><!--/row-->

  <section id="faq"></section>
  <h2 class="centered">FAQ</h2>      
  <div class="row mt">
    <div class="col-md-4">
      <h5><tgr>Who is this for, exactly?</tgr></h5>
      <p>Advanced coders! If you are a developer and want to learn React, then this is for you. This is not recommended for newbies, so please bring a some programming experience. Not sure if you are a newbie or trouper? Write us and we’ll sort it out!</p>
    </div>
    <div class="col-md-4">
      <h5><tgr>What’s included in the price?</tgr></h5>
      <p>The price includes accommodation, food and drinks, the coding workshop, the surfing lessons including all rental material, shuttle service and insurance.</p>
    </div>
    <div class="col-md-4">
      <h5><tgr>Are travel costs included?</tgr></h5>
      <p>No can do. Please organize your own journey to Cascais (tip: see below).</p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-md-4">
      <h5><tgr>How can I help?</tgr></h5>
      <p>Help yourself and the other participants to save on the overall costs. If you help us acquire an additional sponsor for the camp, we will use sponsor’s money for cash refunds. Meaning you could get back quite a lot of money in the end. Please contact us if you know a potential sponsor!</p>
    </div>
    <div class="col-md-4">
      <h5><tgr>How to go to Cascais?</tgr></h5>
      <p>The best and easiest way to get to Cascais will be flying to Lisbon. From the airport, you can take a tram to Lisbon central station. From there, take the train to Cascais. Lisbon Airport to Nice Way Hostel Cascais will take approx. 1.5 hours.</p>
    </div> 
    <div class="col-md-4">
      <h5><tgr>Bummer! I booked but cannot come due to [unforeseen event]. What do?</tgr></h5>
      <p>You can cancel your ticket with a full refund until 30.04.2017. After that, please contact nadja@hack.institute explaining what’s up and if you can organize a substitute participant. We will also try to find another one taking over your spot. If this does not work, we’re afraid you will still have to pay for the services booked.</p>
    </div>        
  </div>
</div><!--/container-->