<!-- ********** HEADER ********** -->
<section id="home"></section>
<div id="h">
  <div class="container">
    <div class="row">
      <div class="header-content">
        <h2><strong>React-Edition</strong><br/>30. October - 05 November 2017</br>Cascais, Portugal</h2>
        <p class="mt"><a class="btn btn-conf btn-clear smoothScroll" href="register.html">Register Now!</a><a class="btn btn-conf btn-clear smoothScroll" href="#info">More Information</a></p>
      </div><!-- header content -->
    </div><!--/row -->
  </div><!--/container -->
</div><!--/H -->
