<!-- ********** HEADER ********** -->
<section id="home"></section>
<div id="header-res">
  <div class="container">
    <div class="row">
      <div class="header-content">
        <h2><strong>React-Edition</strong><br/>30. October - 05 November 2017</br>Cascais, Portugal</h2>
        <p class="mt"><a id="cta-main-page-link" class="btn btn-conf btn-red smoothScroll" href="/registration#registration">Get your super early bird ticket now!<br/>&euro;1599,99</a></p>
      </div><!-- header content -->
    </div><!--/row -->
  </div><!--/container -->
</div><!--/H -->
