
<!-- ********** HEADER ********** -->
<section id="home"></section>
<div id="h">
<div class="container">
  <div class="row">
    <h2>October 2017<br/>Cascais, Portugal</h2>
    <p class="mt"><a class="btn btn-conf btn-clear smoothScroll" href="register.html">Register Now!</a><a class="btn btn-conf btn-clear smoothScroll" href="#info">More Information</a></p>
  </div><!--/row -->
</div><!--/container -->
</div><!--/H -->