<!-- ********** COPYRIGHT ********** -->
<div id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>&copy; by <a href="http://hack.institute">hack.institute</a> 2017 - <a href="/code_of_conduct">Code of Conduct</a></h4>
      </div>
      <div class="col-md-4">
        <p>
          <a href="https://twitter.com/hackinstitute" class="a-social-icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/hack.institute/" class="a-social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://github.com/HackInstitute" class="a-social-icon"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.flickr.com/photos/hackinstitute/" class="a-social-icon"><i class="fa fa-flickr" aria-hidden="true"></i></a>
        </p>
      </div>
    </div><!--/row-->
  </div><!--/container-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup" class="landingpage">
          <form action="//institute.us13.list-manage.com/subscribe/post?u=fe21bad4bdfcbbd4ae03a3f1c&amp;id=58aee044f2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <label for="mce-EMAIL">subscribe to our newsletter</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_fe21bad4bdfcbbd4ae03a3f1c_58aee044f2" tabindex="-1" value="">
              </div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div><!--/row-->
    </div>    
  </div><!--/container-->
</div><!--/copyright-->
