<!-- ********** COPYRIGHT ********** -->
<div id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>&copy; by <a href="http://hack.institute">hack.institute</a> 2017</h4>
      </div>
      <div class="col-md-4">
        <p>
          <a href="https://twitter.com/hackinstitute" class="a-social-icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/hack.institute/" class="a-social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://github.com/HackInstitute" class="a-social-icon"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.flickr.com/photos/hackinstitute/" class="a-social-icon"><i class="fa fa-flickr" aria-hidden="true"></i></a>
        </p>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/copyright-->
