<!-- Menu -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="menu-logo" src="/assets/img/surfcamp-logo.png" alt="hack.institute Logo" title="hack.institute">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/idea" class="smoothScroll">Idea</a></li>
        <li><a href="/idea/#who-should-come" class="smoothScroll">Who should come?</a></li>
        <li><a href="/registration" class="smoothScroll red">Registration</a></li>
        <li><a href="/tutors" class="smoothScroll">Tutors &amp; Organizers</a></li>
        <li><a href="/topics_schedule" class="smoothScroll">Topics &amp; Schedule</a></li>
        <li><a href="/topics_schedule#hackathon" class="smoothScroll">Hackathon</a></li>
        <li><a href="/hostel" class="smoothScroll">The Hostel</a></li>
        <li><a href="/registration#faq" class="smoothScroll">FAQ</a></li>
        <li><a href="/#partner" class="smoothScroll">Partner</a></li>
        <li><a href="/#contact" class="smoothScroll">Contact</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
