<!-- ********** HEADER ********** -->
<section id="home"></section>
<div id="h" class="small">
<div class="container">
  <div class="row">
    <p class="mt small-header"><a class="btn btn-conf btn-clear smoothScroll" href="/registration#purchase">Register Now!</a><a class="btn btn-conf btn-clear smoothScroll btn-display" href="idea#info">More Information</a></p>
  </div><!--/row -->
</div><!--/container -->
</div><!--/H -->
