<h3 class="mtb">Friday</h3>
<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFriday1">
          8am - 9am:<br/>
          <tg>Buffet Breakfast</tg>
        </a>
      </h4>
    </div>
    <div id="collapseFriday1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Get ready for the third day. Surfing & Coding like a pro!</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFriday2">
          9am - 12am<br/>
          <tg>Surfing!</tg>
        </a>
      </h4>
    </div>
    <div id="collapseFriday2" class="panel-collapse collapse">
      <div class="panel-body">
        <p> We take care about the transfer to the beach with best waves around. All Material (Board+Wetsuit) and full insurance are included. Just bring yourself :).</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFriday3">
          1pm - 2pm<br/>
          <tg>Lunch time!</tg>
        </a>
      </h4>
    </div>
    <div id="collapseFriday3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Prepare for the second workshop day. The Menue will be announced soon.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFriday4">
          3pm - 7pm<br/>
          <tg>[BONUS] react-native kickoff</tg>
        </a>
      </h4>
    </div>
    <div id="collapseFriday4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Howto build your first native Android + iOS application in react-native. We take a look and the similarities and differences between react.js and react-native.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFriday5">
          8pm - 9pm<br/>
          <tg>Dinner</tg>
        </a>
      </h4>
    </div>
    <div id="collapseFriday5" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Smooth fade out of the day. Eat something, network with people and prepare for the sixth day. The Menue will be announced soon.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFriday6">
          9pm - 10pm<br/>
          <tg>Hackathon: Idea Pitching & Team building</tg>
        </a>
      </h4>
    </div>
    <div id="collapseFriday6" class="panel-collapse collapse">
      <div class="panel-body">
        <p>The hackathon starts! Pitch your idea, find a team!</p>
      </div>
    </div>
  </div>  
</div><!--/Panel Group -->