<!-- ********** GREY SECTION - TOPICS ********** -->
<section id="hackathon"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered">HACKATHON</h2>
      <hr class="aligncenter mb">
      <div class="col-md-6">
        <tgr><i class="icon icon-truck"></i></tgr>
        <h3 class="mb">Surf & Codecamp Hackathon</h3>
        <p>Show what you can do with your new knowledge. Get together in teams or code on your own – and start hacking! Our coaches will be around to help you overcome the devil in the detail. This is the best way to tighten your skills. Let’s be creative and build something fancy!</p>
      </div><!--/col-md-4-->
      <div class="col-md-6">
        <tgr><i class="icon icon-road"></i></tgr>
        <h3 class="mb">No Topics, no hassle</h3>
        <p>Don’t get tangled up in any guidelines. There’s no topic for the hackathon, just build whatever comes to your mind. This is just a test! </p>
      </div><!--/col-md-4-->
    </div>
  </div><!--/container-->
</div><!--/G-->