<!-- ********** GREY SECTION - TOPICS ********** -->
<section id="hackathon"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered">HACKATHON</h2>
      <hr class="aligncenter mb">
      <div class="col-md-4">
        <tgr><i class="icon icon-truck"></i></tgr>
        <h3 class="mb">Surf & Codecamp Hackathon</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-road"></i></tgr>
        <h3 class="mb">No Topics</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-recycle"></i></tgr>
        <h3 class="mb">Just Fun</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium consectetur laudantium molestias omnis ut voluptatum officiis necessitatibus, deserunt, ducimus asperiores quas sapiente veritatis. Molestias qui quas sapiente vitae similique ut.</p>
      </div><!--/col-md-4-->
    </div>
  </div><!--/container-->
</div><!--/G-->