<h3 class="mtb">Monday</h3>
<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
          until 2pm<br/>
          <tg>Arriving & Registration</tg>
        </a>
      </h4>
    </div>
    <div id="collapseOne1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Arrival of participants at the hostel in Cascai. From Lisbon airport take an UBER or the metro to Cais do Sodré or the bus to Algés. From there take the Train Linha de Cascais to Cascais (the final stop). Walk about 750m from there to the Nice Ways Hostel and Surf Camp. The trip takes about 1,5hrs. <a href="https://hckn.st/surfandcodetrip">Here is a map</a>.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
          2pm - 3pm<br/>
          <tg>Networking and snacks</tg>
        </a>
      </h4>
    </div>
    <div id="collapseTwo1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Get to know each other, having some snacks.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseMonday1">
          4pm - 8pm<br/>
          <tg>EcmaScript 6 and React Kickoff</tg>
        </a>
      </h4>
    </div>
    <div id="collapseMonday1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>ALearn how to develop modern component-based web-application with React, JSX, Babel and WebPack. This first lesson will show how to develop, use and debug custom components. How to persist local states and load external data.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseMonday2">
          8pm - 9pm<br/>
          <tg>Dinner</tg>
        </a>
      </h4>
    </div>
    <div id="collapseMonday2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Smooth fade out of the day. Eat something, network with people and prepare for the second day. The Menue will be announced soon.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseMonday3">
          9pm - 11pm<br/>
          <tg>Networking</tg>
        </a>
      </h4>
    </div>
    <div id="collapseMonday3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Hanging around or code some stuff or whatever you want. But don't take it too long - the surf lession starts in a few hours.</p>
      </div>
    </div>
  </div>    
</div><!--/Panel Group -->