<h3 class="mtb">Saturday</h3>
<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSaturday1">
          8am - 9am:<br/>
          <tg>Buffet Breakfast</tg>
        </a>
      </h4>
    </div>
    <div id="collapseSaturday1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Get ready for the third day. Surfing & Coding like a pro!</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSaturday2">
          9am - 12am<br/>
          <tg>Surfing!</tg>
        </a>
      </h4>
    </div>
    <div id="collapseSaturday2" class="panel-collapse collapse">
      <div class="panel-body">
        <p> We take care about the transfer to the beach with best waves around. All Material (Board+Wetsuit) and full insurance are included. Just bring yourself :).</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSaturday3">
          1pm - 2pm<br/>
          <tg>Lunch time!</tg>
        </a>
      </h4>
    </div>
    <div id="collapseSaturday3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Get some energy to hack on your react hacks. The Menue will be announced soon.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSaturday3">
          3pm - 8pm<br/>
          <tg>Hackathon - hack, hack, hack, hack...</tg>
        </a>
      </h4>
    </div>
    <div id="collapseSaturday3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Just hack on your react hack!</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSaturday4">
          8pm - 9pm<br/>
          <tg>Dinner</tg>
        </a>
      </h4>
    </div>
    <div id="collapseSaturday4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Eat something, network with people and hack. The Menue will be announced soon.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSaturday5">
          9pm - open end<br/>
          <tg>Hackathon - hack, hack, hack, hack...</tg>
        </a>
      </h4>
    </div>
    <div id="collapseSaturday5" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Just haaaaaaack!</p>
      </div>
    </div>
  </div>  
</div><!--/Panel Group -->