<h3 class="mtb">Sunday</h3>
<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSunday1">
          8am - 9am:<br/>
          <tg>Buffet Breakfast</tg>
        </a>
      </h4>
    </div>
    <div id="collapseSunday1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Get ready for the last day. Coding & Leaving...like a pro!</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSunday2">
          9am - 12am<br/>
          <tg>Hackathon - hack, hack, hack, hack...</tg>
        </a>
      </h4>
    </div>
    <div id="collapseSunday2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Haaack....</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSunday3">
          12am - 1pm<br/>
          <tg>Pitching time!</tg>
        </a>
      </h4>
    </div>
    <div id="collapseSunday3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Just pitch your result!</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSunday4">
          4pm<br/>
          <tg>Checkout</tg>
        </a>
      </h4>
    </div>
    <div id="collapseSunday4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Sad that we have to leave! But if you want to stay - here is a tip: the <a href="https://websummit.com/">Websummit 2017</a> in Lisboa!</p>
      </div>
    </div>
  </div>
</div><!--/Panel Group -->