<h3 class="mtb">Thursday</h3>
<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThursday1">
          8am - 9am:<br/>
          <tg>Buffet Breakfast</tg>
        </a>
      </h4>
    </div>
    <div id="collapseThursday1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Get ready for day four. Surfing & Coding like a pro!</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThursday2">
          9am - 12am<br/>
          <tg>Surfing!</tg>
        </a>
      </h4>
    </div>
    <div id="collapseThursday2" class="panel-collapse collapse">
      <div class="panel-body">
        <p> We take care about the transfer to the beach with best waves around. All Material (Board+Wetsuit) and full insurance are included. Just bring yourself :).</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThursday3">
          1pm - 2pm<br/>
          <tg>Lunch time!</tg>
        </a>
      </h4>
    </div>
    <div id="collapseThursday3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Prepare for the second workshop day. The Menue will be announced soon.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThursday4">
          3pm - 7pm<br/>
          <tg>Test all the things</tg>
        </a>
      </h4>
    </div>
    <div id="collapseThursday4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Finally, for an production-ready application we should ensure the correctness of our components with tests. We take a look at two of the most common libraries Jest and Enzyme.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThursday5">
          8pm - 9pm<br/>
          <tg>Dinner</tg>
        </a>
      </h4>
    </div>
    <div id="collapseThursday5" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Smooth fade out of the day. Eat something, network with people and prepare for the fifth day. The Menue will be announced soon.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThursday6">
          9pm - 11pm<br/>
          <tg>Networking</tg>
        </a>
      </h4>
    </div>
    <div id="collapseThursday6" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Hanging around or code some stuff or whatever you want. But don't take it too long - the surf lession starts in a few hours.</p>
      </div>
    </div>
  </div>  
</div><!--/Panel Group -->