<!-- ********** GREY SECTION - TOPICS ********** -->
<section id="topics"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered">TOPICS & SCHEDULE</h2>
      <hr class="aligncenter mb">
      <div class="col-md-4">
        <tgr><i class="icon icon-truck"></i></tgr>
        <h3 class="mb">ES6 & React Introduction</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-road"></i></tgr>
        <h3 class="mb">React Router, Webpack, Redux </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-recycle"></i></tgr>
        <h3 class="mb">Redux, Testing, React Native, Best Practices</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium consectetur laudantium molestias omnis ut voluptatum officiis necessitatibus, deserunt, ducimus asperiores quas sapiente veritatis. Molestias qui quas sapiente vitae similique ut.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-truck"></i></tgr>
        <h3 class="mb">5 days of surf Lessions</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-road"></i></tgr>
        <h3 class="mb">Meet people with the same mindset</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-recycle"></i></tgr>
        <h3 class="mb">Location, Weather, Location, Weather</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium consectetur laudantium molestias omnis ut voluptatum officiis necessitatibus, deserunt, ducimus asperiores quas sapiente veritatis. Molestias qui quas sapiente vitae similique ut.</p>
      </div><!--/col-md-4-->          
    </div>
  </div><!--/container-->
</div><!--/G-->