<!-- ********** GREY SECTION - TOPICS ********** -->
<section id="topics"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered">TOPICS & SCHEDULE</h2>
      <hr class="aligncenter mb">
      <div class="col-md-4">
        <tgr><i class="icon icon-truck"></i></tgr>
        <h3 class="mb">ES6 & React Introduction</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-road"></i></tgr>
        <h3 class="mb">React Router, Webpack, Redux</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-recycle"></i></tgr>
        <h3 class="mb">Redux, Testing, React Native, Best Practices</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium consectetur laudantium molestias omnis ut voluptatum officiis necessitatibus, deserunt, ducimus asperiores quas sapiente veritatis. Molestias qui quas sapiente vitae similique ut.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-truck"></i></tgr>
        <h3 class="mb">5 days of surfing lessons</h3>
        <p>Surfing will be a major part of your week. For all skill levels there will be adequate teaching by our surf coach. We will use the late morning hours to jump into the sea and become familiar with our boards, the waves and the art of surfing. There will be all the material plus a shuttle to the most adequate surf spot everyday. Insurance? Check. Surfing is a wonderful sport and we guarantee you will absolutely love it!</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-road"></i></tgr>
        <h3 class="mb">Meet people with the same mindset</h3>
        <p>We’re all coders. We understand which prerequisites you need to work and progress. You will be surrounded by people who do and love the same stuff. Good vibes, no ‘hang loose’ stereotypical stuff – just coders doing what they do best.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-recycle"></i></tgr>
        <h3 class="mb">Enjoy and breathe</h3>
        <p>This is no boot camp, you know. Whenever you feel like it, take your time to walk around, sleep, eat, enjoy, explore. This is a beautiful place to be in, so use it!</p>
      </div><!--/col-md-4-->          
    </div>
  </div><!--/container-->
</div><!--/G-->