<h3 class="mtb">Tuesday</h3>
<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTuesday1">
          8am - 9am:<br/>
          <tg>Buffet Breakfast</tg>
        </a>
      </h4>
    </div>
    <div id="collapseTuesday1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Get ready for the second day. Surfing & Coding like a pro!</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTuesday2">
          9am - 12am<br/>
          <tg>Surfing!</tg>
        </a>
      </h4>
    </div>
    <div id="collapseTuesday2" class="panel-collapse collapse">
      <div class="panel-body">
        <p> We take care about the transfer to the beach with best waves around. All Material (Board+Wetsuit) and full insurance are included. Just bring yourself :).</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTuesday3">
          1pm - 2pm<br/>
          <tg>Lunch time!</tg>
        </a>
      </h4>
    </div>
    <div id="collapseTuesday3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Prepare for the second workshop day. The Menue will be announced soon.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTuesday4">
          3pm - 7pm<br/>
          <tg>Scale your application with React-router</tg>
        </a>
      </h4>
    </div>
    <div id="collapseTuesday4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We will give you an introduction into react-router, the common library to develop web applications.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTuesday5">
          8pm - 9pm<br/>
          <tg>Dinner</tg>
        </a>
      </h4>
    </div>
    <div id="collapseTuesday5" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Smooth fade out of the day. Eat something, network with people and prepare for the third day. The Menue will be announced soon.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTuesday6">
          9pm - 11pm<br/>
          <tg>Networking</tg>
        </a>
      </h4>
    </div>
    <div id="collapseTuesday6" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Hanging around or code some stuff or whatever you want. But don't take it too long - the surf lession starts in a few hours.</p>
      </div>
    </div>
  </div>  
</div><!--/Panel Group -->