---
title: Topics & Schedule || Surf & Code Camp
---

<%= partial "../shared/small_header" %>


<!-- ********** GREY SECTION - TOPICS ********** -->
<section id="topics"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered">TOPICS & SCHEDULE</h2>
      <hr class="aligncenter mb">
      <div class="col-md-4">
        <tgr><i class="icon icon-truck"></i></tgr>
        <h3 class="mb">ES6 & React Introduction</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-road"></i></tgr>
        <h3 class="mb">React Router, Webpack, Redux </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-recycle"></i></tgr>
        <h3 class="mb">Redux, Testing, React Native, Best Practices</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium consectetur laudantium molestias omnis ut voluptatum officiis necessitatibus, deserunt, ducimus asperiores quas sapiente veritatis. Molestias qui quas sapiente vitae similique ut.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-truck"></i></tgr>
        <h3 class="mb">5 days of surf Lessions</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-road"></i></tgr>
        <h3 class="mb">Meet people with the same mindset</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-recycle"></i></tgr>
        <h3 class="mb">Location, Weather, Location, Weather</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium consectetur laudantium molestias omnis ut voluptatum officiis necessitatibus, deserunt, ducimus asperiores quas sapiente veritatis. Molestias qui quas sapiente vitae similique ut.</p>
      </div><!--/col-md-4-->          
    </div>
  </div><!--/container-->
</div><!--/G-->

<!-- ********** WHITE SECTION - SCHEDULE ********** -->
<section id="schedule"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">SCHEDULE</h2>
    <hr class="aligncenter mb">

    <div class="col-md-12">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <h3 class="mtb">Monday</h3>
      <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                14:30 - 14:45<br/>
                <tg>Welcome</tg>
              </a>
            </h4>
          </div>
          <div id="collapseOne1" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                14:45 - 15:00<br/>
                <tg>Lightningtalk Robert Basic</tg>
              </a>
            </h4>
          </div>
          <div id="collapseTwo1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                15:00 - 17:45<br/>
                <tg>Hacking</tg>
              </a>
            </h4>
          </div>
          <div id="collapseThree1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour1">
                17:45 - 18:00<br/>
                <tg>Präsentationen vorbereiten</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFour1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive1">
                18:00 - 18:15<br/>
                <tg>Presentationen</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFive1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix1">
                18:15 - 18:30<br/>
                <tg>Gewinner Announcment (Dr. Ulrich S. Soénius, Dirk Blauhut, HRS)</tg>
              </a>
            </h4>
          </div>
          <div id="collapseSix1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
      </div><!--/Panel Group -->

      <h3 class="mtb">Tuesday</h3>
      <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                14:30 - 14:45<br/>
                <tg>Welcome</tg>
              </a>
            </h4>
          </div>
          <div id="collapseOne1" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                14:45 - 15:00<br/>
                <tg>Lightningtalk Robert Basic</tg>
              </a>
            </h4>
          </div>
          <div id="collapseTwo1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                15:00 - 17:45<br/>
                <tg>Hacking</tg>
              </a>
            </h4>
          </div>
          <div id="collapseThree1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour1">
                17:45 - 18:00<br/>
                <tg>Präsentationen vorbereiten</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFour1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive1">
                18:00 - 18:15<br/>
                <tg>Presentationen</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFive1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix1">
                18:15 - 18:30<br/>
                <tg>Gewinner Announcment (Dr. Ulrich S. Soénius, Dirk Blauhut, HRS)</tg>
              </a>
            </h4>
          </div>
          <div id="collapseSix1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
      </div><!--/Panel Group -->

      <h3 class="mtb">Wednesday</h3>
      <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                14:30 - 14:45<br/>
                <tg>Welcome</tg>
              </a>
            </h4>
          </div>
          <div id="collapseOne1" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                14:45 - 15:00<br/>
                <tg>Lightningtalk Robert Basic</tg>
              </a>
            </h4>
          </div>
          <div id="collapseTwo1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                15:00 - 17:45<br/>
                <tg>Hacking</tg>
              </a>
            </h4>
          </div>
          <div id="collapseThree1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour1">
                17:45 - 18:00<br/>
                <tg>Präsentationen vorbereiten</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFour1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive1">
                18:00 - 18:15<br/>
                <tg>Presentationen</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFive1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix1">
                18:15 - 18:30<br/>
                <tg>Gewinner Announcment (Dr. Ulrich S. Soénius, Dirk Blauhut, HRS)</tg>
              </a>
            </h4>
          </div>
          <div id="collapseSix1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
      </div><!--/Panel Group -->

      <h3 class="mtb">Thursday</h3>
      <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                14:30 - 14:45<br/>
                <tg>Welcome</tg>
              </a>
            </h4>
          </div>
          <div id="collapseOne1" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                14:45 - 15:00<br/>
                <tg>Lightningtalk Robert Basic</tg>
              </a>
            </h4>
          </div>
          <div id="collapseTwo1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                15:00 - 17:45<br/>
                <tg>Hacking</tg>
              </a>
            </h4>
          </div>
          <div id="collapseThree1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour1">
                17:45 - 18:00<br/>
                <tg>Präsentationen vorbereiten</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFour1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive1">
                18:00 - 18:15<br/>
                <tg>Presentationen</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFive1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix1">
                18:15 - 18:30<br/>
                <tg>Gewinner Announcment (Dr. Ulrich S. Soénius, Dirk Blauhut, HRS)</tg>
              </a>
            </h4>
          </div>
          <div id="collapseSix1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
      </div><!--/Panel Group -->

      <h3 class="mtb">Friday</h3>
      <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                14:30 - 14:45<br/>
                <tg>Welcome</tg>
              </a>
            </h4>
          </div>
          <div id="collapseOne1" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                14:45 - 15:00<br/>
                <tg>Lightningtalk Robert Basic</tg>
              </a>
            </h4>
          </div>
          <div id="collapseTwo1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                15:00 - 17:45<br/>
                <tg>Hacking</tg>
              </a>
            </h4>
          </div>
          <div id="collapseThree1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour1">
                17:45 - 18:00<br/>
                <tg>Präsentationen vorbereiten</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFour1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive1">
                18:00 - 18:15<br/>
                <tg>Presentationen</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFive1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix1">
                18:15 - 18:30<br/>
                <tg>Gewinner Announcment (Dr. Ulrich S. Soénius, Dirk Blauhut, HRS)</tg>
              </a>
            </h4>
          </div>
          <div id="collapseSix1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
      </div><!--/Panel Group -->

      <h3 class="mtb">Saturday</h3>
      <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                14:30 - 14:45<br/>
                <tg>Welcome</tg>
              </a>
            </h4>
          </div>
          <div id="collapseOne1" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                14:45 - 15:00<br/>
                <tg>Lightningtalk Robert Basic</tg>
              </a>
            </h4>
          </div>
          <div id="collapseTwo1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                15:00 - 17:45<br/>
                <tg>Hacking</tg>
              </a>
            </h4>
          </div>
          <div id="collapseThree1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour1">
                17:45 - 18:00<br/>
                <tg>Präsentationen vorbereiten</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFour1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive1">
                18:00 - 18:15<br/>
                <tg>Presentationen</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFive1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix1">
                18:15 - 18:30<br/>
                <tg>Gewinner Announcment (Dr. Ulrich S. Soénius, Dirk Blauhut, HRS)</tg>
              </a>
            </h4>
          </div>
          <div id="collapseSix1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
      </div><!--/Panel Group -->

      <h3 class="mtb">Sunday</h3>
      <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                14:30 - 14:45<br/>
                <tg>Welcome</tg>
              </a>
            </h4>
          </div>
          <div id="collapseOne1" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                14:45 - 15:00<br/>
                <tg>Lightningtalk Robert Basic</tg>
              </a>
            </h4>
          </div>
          <div id="collapseTwo1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                15:00 - 17:45<br/>
                <tg>Hacking</tg>
              </a>
            </h4>
          </div>
          <div id="collapseThree1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour1">
                17:45 - 18:00<br/>
                <tg>Präsentationen vorbereiten</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFour1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive1">
                18:00 - 18:15<br/>
                <tg>Presentationen</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFive1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix1">
                18:15 - 18:30<br/>
                <tg>Gewinner Announcment (Dr. Ulrich S. Soénius, Dirk Blauhut, HRS)</tg>
              </a>
            </h4>
          </div>
          <div id="collapseSix1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
      </div><!--/Panel Group -->

    </div><!--/col-md-12-->
  </div><!--/row-->
</div><!--/container-->

<!-- ********** GREY SECTION - TOPICS ********** -->
<section id="hackathon"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered">HACKATHON</h2>
      <hr class="aligncenter mb">
      <div class="col-md-4">
        <tgr><i class="icon icon-truck"></i></tgr>
        <h3 class="mb">Surf & Codecamp Hackathon</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-road"></i></tgr>
        <h3 class="mb">No Topics</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur alias quam quaerat. Cum, laborum iusto perferendis molestias, libero ratione atque quidem dicta voluptatem ullam quia ipsam voluptate nemo. Necessitatibus.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon icon-recycle"></i></tgr>
        <h3 class="mb">Just Fun</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium consectetur laudantium molestias omnis ut voluptatum officiis necessitatibus, deserunt, ducimus asperiores quas sapiente veritatis. Molestias qui quas sapiente vitae similique ut.</p>
      </div><!--/col-md-4-->
    </div>
  </div><!--/container-->
</div><!--/G-->
