---
title: Idea || Surf & Code Camp
---

<%= partial "../shared/small_header" %>

<!-- ********** STAND OUT / CALL TO ACTION ********** -->
<section id="idea">
  <div id="g">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb">IDEA</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="who-should-come">
  <div id="g">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb">Who should come?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?</p>
        </div>
      </div>
    </div>
  </div>
</section>