---
title: Surf & Code Camp – The Idea
description: Learn ReactJS at the workshop and relax while surfing. Make real progress at our programming camp in Cascais, Portugal with professional coaches.
keywords: reactjs, workshop, camp, reactjs.de, cascais, portugal, lisbon, react, react native, react.js, javascript, course, lessons, surf camp, coder beach
---

<%= partial "../shared/small_header" %>

<!-- ********** STAND OUT / CALL TO ACTION ********** -->
<section id="idea">
  <div id="g">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb">IDEA</h2>
          <p>
            We had the privilege to spend a couple of months in Lisbon and the nearby Cascais at the end of 2016. We wanted to get to know the tech scene there, explore possibilities to work together with locals and ended up completely falling in love with the region.</br>
            The tech scene is thriving and more and more startups seem to head for Portugal to combine a great entrepreneurial ecosystem with loads of talented coders and the beautiful scenery.
          </p>
          <p>
            As we've worked closely together with our friends at Reactjs.de for quite some time now, we wanted to create something valuable and enjoyable together with them. They are the largest german React community with vast workshop experience and top-notch React experts in their ranks. A perfect partner to convey the art of coding React, an absolutely beautiful framework that can help you build stunning UIs.
          </p>
          <h3>See where we are heading...?</h3>
          <p>
            We want to have all of you experience Portugal with our hosts and coaches, step up your coding game and learn to look fancy on a surfing board – all within a week. You will live in a beautiful hostel we booked exclusively for this workshop. Leave all distractions behind and dive into seven days of learning with like-minded people and guided by tutors who truly know what they are doing. You will see tremendous progress – which you can show off at the end of the week, when we do our own little Hackathon. 
          </p>
          <p>
            With the help of the best surfing coach around, the most proficient React experts, and our dedicated team, we will make all of it work. You bring your laptop and the motivation while we organize anything else.
          </p>
          <p>
            Become a part of the React community, enjoy the cool waves of the Atlantic and spend a great time getting to know Cascais/Lisbon and its tech scene (as well as the bars).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="who-should-come">
  <div id="g">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb">WHO SHOULD COME?</h2>
          <p>
            We invite everyone who loves working and learning together with people of the same mindset. We will not be pushing you consistently but rather count on you to have the intrinsic motivation to take away as much as you can.
          </p>
          <p>
            You should be reasonably proficient at coding and perhaps have made first contact with React here and there.
          </p>
          <p>
            What’s more:<br/>
            You shouldn't be afraid of water and should show some interest in managing to stand upright on a surfing board in a first-class surfing spot. Sounds boring? Then please leave...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>