---
title: Surf & Code Camp – ReactJS edition
description: Learn to code React and surf waves. One week of workshop and surfing lessons near Lisbon, powered by hack.institute and ReactJS.de – Sign up now!
keywords: reactjs, workshop, camp, reactjs.de, cascais, portugal, lisbon, react, react native, react.js, javascript, course, lessons, surf camp, coder beach
---

<%= partial "shared/big_header" %>

<!-- ********** STAND OUT / CALL TO ACTION ********** -->
<section id="info">
  <div id="beach-begin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="mb">THE IDEA</h3>
          <p>Learn React and become a surfer at Surf & Code Camp near Lisbon.<br/>
          Our idea was to combine one of the most beautiful surfing spots worldwide with a superb coding workshop – and throw you in at the deep end. Surfing lessons alternate with a profound coding workshop to give you the very best of both mental and physical challenge.<br/>
          Just bring some coding experience, first React knowledge and the motivation to spend a wonderful week by the sea. We will take care of all the rest...</p>
          <p class="mt"><a class="btn btn-conf btn-dark smoothScroll" href="idea/">Read more...</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="news">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 section-transparent">
        <div class="row">
          <div class="col-sm-9">
          </div>
        </div>
      </div>

      <div class="col-sm-8 section-bg-color">
        <div class="row">
          </div><!--/col-sm-4-->
          <div class="col-sm-9">
            <h3>What's included?</h3>
            <p>
              6 nights in the magnificent Nice Way Hostel Cascais, a true Surfer’s Hostel, 5 days intense React Workshop, 5 days surfing lessons, 2-day-hackathon (Fr.-Su.) to show off your new skills, 1 perfect week
            </p>
            <p class="mt"><a class="btn btn-conf btn-dark smoothScroll" href="register.html">Get your ticket now!</a></p>
          </div>
        </div><!--/row-->
      </div><!-- /col-sm-6-->
    </div><!--/row -->
  </div><!--/container -->
</section><!--/NEWS -->

<!-- ********** STAND OUT / CALL TO ACTION ********** -->
<section class="news flip">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 section-bg-color">
        <div class="row">
          <div class="col-sm-3 mt">
            <div class="circle-icon">
              <div class="icon icon-award"></div>
            </div>
          </div><!--/col-sm-4-->
          <div class="col-sm-9">
            <h3>The Hostel.</h3>
            <p>The Nice Way Hostel in Cascais combines a great location in a cool neighborhood by the seaside with the laid-back atmosphere of a surf-camp. The perfect spot to relax, be productive and experience the spirit of Portugal.</p>
            <p class="mt"><a class="btn btn-conf btn-dark smoothScroll" href="hostel.html">More about Nice Away Hostel</a></p>
          </div>
        </div><!--/row-->
      </div><!-- /col-sm-6-->
      <div class="col-sm-4 section-transparent">
        <div class="row">
          <div class="col-sm-9">
          </div>
        </div>
      </div>
    </div><!--/row -->
  </div><!--/container -->
</section><!--/NEWS -->

<%= partial "landingpage/testimonials" %>
<%= partial "landingpage/map" %>
